* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ddd;
}

.slider {
  margin: 0 auto;
  max-width: 900px;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.slideGroup {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #ee0000;
}

.slide:nth-of-type(2) {
  background: #00ee00;
}

.slide:nth-of-type(3) {
  background: #0000ee;
}

.containerBtn {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

a.slideBtn {
  color: #555;
  font-size: 40px;
  margin: 0 0.15em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slideBtn.active, .slideBtn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directionalNav {
  height: 350px;
  max-height: 900px;
  margin: 0 auto;
  position: relative;
  top: -350px;
}